.innerModalContainer {
    height: auto;
    width: 40%;
 

    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.heading{
    color: var(--grey-3);
}
.description{
    font-size: var(--font-smaller);
    color: var(--grey-3);
}
.btnControls {
    display: flex;
    margin-top: 1rem;
}
