.sidebar {
    height: 100%;
    width: 100%;
    background-color: #0d0f1680;
    opacity: 1;
    padding: 1rem;
}
/* .navigatorigation */
.navigator,
.sitemap {
    width: 100%;
    height: max-content;
}
:is(.navigator, .sitemap) > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}
.navigator ul li {
    min-height: 2.5rem;
    width: inherit;
    display: flex;
    flex-direction: column;
    position: relative;
}
.navigator ul .active a {
    color: var(--blue) !important;
    font-weight: 800;
    /*   text-shadow: 0 0 0px #fdab01; */
}
.navigator ul li a {
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: var(--font-small);
    text-decoration: none;
    white-space: nowrap;
    outline: none;
    list-style: 2;
    line-height: 21px;
}
.navigator ul li:hover a {
    cursor: pointer;
    text-decoration: underline;
}
.navigator ul li a svg {
    font-size: 1.25rem;
    margin-right: 0.35rem;
}
.heading {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0.5rem;
}
.sublist {
    padding-left: 0.85rem;
}
.sublistItems {
    font-size: 0.75rem;
    color: var(--blue);
    height: 1.5rem !important;
    width: inherit !important;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
}
.sublistItems:hover {
    cursor: pointer;
    text-decoration: underline;
}
.sitemap li {
    margin-top: .56rem;
    text-align: center;
    color: #b6b6b6;
}
.sitemap > p{
    width: 100%;
    text-align: center;
    color: #b6b6b6;
    font-size: 0.65rem;
    margin-top: 0.5rem;
}
